body {
	background-color: #547AA5;
	color: whitesmoke ;
	font-family: monospace;
	margin-top: 10px;
}

.container{
	background-color: #0B1D51;
	border-radius: 50px;
	margin-top: 5.5px;
	box-shadow: 0 0.0 rgba(0, 0, 0, 1.0);

}

img {
	width: 150px;
	margin-top: 25px;


}
